@import "react-datepicker/dist/react-datepicker.css";

.search-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
    max-width: 1002px;
    height: 44px;

    .search-form-date-picker {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 16px;
        gap: 10px;
        height: 44px;
        background: white;
        color: #525D7A;
        border: 1px solid #C2C8D6;
        border-radius: 8px;
        font-family: 'Objektiv Mk2', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 145%;
        width: 100%;
        flex: 1;
    }
}